html {
  height: 100%; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bg {
  from {
    background-color: black; }
  to {
    background-color: grey; } }
/* Standard syntax */
@keyframes bg {
  from {
    background-color: black; }
  to {
    background-color: grey; } }
body {
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 20px;
  height: 100%; }
  body div {
    font-size: 24px;
    background: black;
    color: white;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 30s;
    /* Safari 4.0 - 8.0 */
    animation-name: bg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  body div.welcome {
    padding: 45px;
    text-align: center;
    height: 100%; }
    body div.welcome h1 {
      font-size: 65px;
      text-transform: uppercase;
      overflow: hidden;
      line-height: 0.75;
      color: whitesmoke; }
    body div.welcome h1:hover {
      color: white; }
    body div.welcome h1::after {
      content: '';
      position: absolute;
      height: 16px;
      width: 100%;
      top: 50%;
      margin-top: -8px;
      right: 0;
      background: #F9F9F9;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.4s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    body div.welcome h1:hover::after {
      transform: translate3d(100%, 0, 0); }
    body div.welcome h1::before {
      content: attr(data-letters);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      color: #424242;
      white-space: nowrap;
      width: 0%;
      transition: width 0.4s 0.3s; }
    body div.welcome h1:hover::before {
      width: 100%; }
    body div.welcome img {
      margin-top: 105px;
      max-width: 300px;
      border-radius: 5px;
      filter: grayscale(100%); }
    body div.welcome div.links {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      margin-top: 45px; }
  body div.resume {
    padding: 45px; }
    body div.resume h1 {
      text-align: center;
      font-size: 65px; }
      body div.resume h1 hr {
        width: 250px;
        margin-left: auto;
        margin-right: auto; }
    body div.resume div.skills {
      margin-top: 25px;
      text-align: left;
      width: 550px;
      margin-left: auto;
      margin-right: auto; }
      body div.resume div.skills h2 {
        font-size: 32px; }
      body div.resume div.skills ul {
        font-size: 18px; }
  body div.bio {
    height: 100%;
    padding: 45px; }
    body div.bio h1 {
      text-align: center;
      margin-bottom: 45px; }
      body div.bio h1 hr {
        width: 250px;
        margin-left: auto;
        margin-right: auto; }
    body div.bio img {
      max-width: 300px;
      border-radius: 5px;
      filter: grayscale(100%);
      display: block;
      margin: 0 auto; }
    body div.bio div.bio-text {
      margin-top: 25px;
      text-align: left;
      width: 350px;
      margin-left: auto;
      margin-right: auto; }
      body div.bio div.bio-text p {
        font-size: 24px; }

@media (max-width: 500px) {
  i.fa {
    display: none; } }

/*# sourceMappingURL=main.css.map */
