html {
  height: 100%;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bg {
  from {background-color: black;}
  to {background-color: grey;}
}

/* Standard syntax */
@keyframes bg {
  from {background-color: black;}
  to {background-color: grey;}
}
body {
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 20px;
  height: 100%;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 30s; /* Safari 4.0 - 8.0 */
  animation-name: bg;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: black;
  color: white;
  div {
    font-size: 24px;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: blink;
      color: white;
    }
  }
  img.logo {
    width: 50px;
    margin-bottom: 0;

  }
  span.title {
    margin-left: 10px;
    letter-spacing: 3px;
    //padding-top: 15px;
    height: 50px;
  }
  div.welcome {
    padding: 0 45px;
    text-align: center;
    h1 {
      font-size: 65px;
      text-transform: lowercase;
      overflow: hidden;
      color: whitesmoke;
      letter-spacing: 5px;
    }
    h1:hover {
      color: white;
    }

    h1::after {
      content: '';
      position: absolute;
      height: 16px;
      width: 100%;
      top: 50%;
      margin-top: -8px;
      right: 0;
      background: #F9F9F9;
      transform: translate3d(-100%,0,0);
      transition: transform 0.4s;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    h1:hover::after {
      transform: translate3d(100%,0,0);
    }

    h1::before {
      content: attr(data-letters);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      color: #424242;
      white-space: nowrap;
      width: 0%;
      transition: width 0.4s 0.3s;
    }
    h1:hover::before {
      width: 100%;
    }
    img {
      margin-top: 105px;
      max-width: 300px;
      border-radius: 1px;
      filter: grayscale(100%);
    }
    div.links {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      margin-top: 45px;
      letter-spacing: 5px;
      a {
        text-transform: lowercase;
      }
    }
  }
  div.resume {
    margin-top: -65px;
    padding-left: 55px;
    padding-right: 55px;
    text-transform: lowercase;
    h1 {
      font-size: 45px;
      letter-spacing: 5px;
      text-decoration: underline;
      text-align: center;
    }
    hr {
      max-width: 250px;
      margin: 0;
    }
    div.skills {
      margin-top: 65px;
      text-align: left;
      width: 550px;
      margin-left: auto;
      margin-right: auto;
      h2 {
        margin-top: 45px;
        font-size: 32px;
        letter-spacing: 5px;
      }
      h3 {
        letter-spacing: 5px;
        margin-left: 25px;
      }
      ul {
        font-size: 18px;
        margin-left: 35px;
        ul {
          margin: auto;
        }
      }
    }
  }
  div.bio {
    padding: 45px;
    h1 {
      text-align: center;
      margin-bottom: 45px;
      letter-spacing: 5px;
      hr {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    img {
      max-width: 300px;
      border-radius: 1px;
      filter: grayscale(100%);
      display: block;
      margin: 0 auto;
    }
    div.bio-text {
      margin-top: 25px;
      text-align: left;
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      text-transform: lowercase;
      p {
        font-size: 24px;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  i.fa {
    display: none;
  }
}


