body {
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 20px;
  background: black;
  color: white;
  div {
    font-size: 24px;
    a, a:hover, a:visited, a:active {
      text-decoration: none;
      color: black;
      outline: none;
    }
  }
  img.logo {
    width: 50px;
    margin-bottom: 0;

  }
  span.title {
    margin-left: 10px;
    letter-spacing: 3px;
    //padding-top: 15px;
    height: 50px;
  }
  div.welcome {
    padding: 0 45px;
    text-align: center;
    h1 {
      font-size: 65px;
      text-transform: lowercase;
      overflow: hidden;
      color: whitesmoke;
      letter-spacing: 5px;
    }
    img {
      margin-top: 105px;
      max-width: 300px;
      border-radius: 1px;
      filter: grayscale(100%);
    }
    div.links {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      margin-top: 45px;
      letter-spacing: 5px;
      a {
        text-transform: lowercase;
      }
      div {
        cursor: pointer;
      }
    }
    i.fa-caret-down {
      font-size: 65px;
      margin-top: 85px;
      margin-bottom: 50px;
      cursor: pointer;
    }
  }
  div.info_section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    h1 {
      font-size: 45px;
      letter-spacing: 5px;
      text-decoration: underline;
      text-align: center;
      letter-spacing: 5px;
    }
    h3 {
      padding-left: 18px;
    }
    hr {
      max-width: 250px;
      margin: 0;
    }
    div.skills {
      margin-top: 65px;
      text-align: left;
      width: 550px;
      margin-left: auto;
      margin-right: auto;
      h2 {
        margin-top: 45px;
        font-size: 32px;
        letter-spacing: 5px;
      }
      h3 {
        letter-spacing: 5px;
        margin-left: 25px;
      }
      ul {
        font-size: 18px;
        margin-left: 35px;
        ul {
          margin: auto;
        }
      }
    }
  }
  div.bio {
    padding: 45px;
    h1 {
      text-align: center;
      margin-bottom: 45px;
      letter-spacing: 5px;
      hr {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    img {
      max-width: 300px;
      border-radius: 1px;
      filter: grayscale(100%);
      display: block;
      margin: 0 auto;
    }
    div.bio-text {
      margin-top: 25px;
      text-align: left;
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      text-transform: lowercase;
      p {
        font-size: 24px;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  body {
    width: 100%;
    .hidden-mobile {
      display: none;
    }
    background-color: grey;
    div.welcome {
      margin: 0;
      padding: 0;
      h1 {
        margin-top: 50px;
        font-size: 35px;
        letter-spacing: normal;
      }
      img {
        margin-top: 35px;
        max-width: 250px;
      }
      div.links {
        letter-spacing: normal;
        a {
          font-size: 25px;
        }
      }
    }
    div.resume {
      div.skills {
        width: 300px;
        h2 {
          letter-spacing: normal;
        }
      }
    }
    div.bio {
      padding: 0;
      margin-top: 10px;
    }
  }
}
