$white: #FFFFFF;
$black: #000000;
$red: #9e1212;
$dark-green: #042a2b;
$green: #44ffd2;
$blue: #5eb1bf;
$grey: #daf5ff;
$purple: #2A0D45;

// animations
@keyframes red-shift {
    0%   {color:$white;}
    100% {color:$blue;}
}

body {
  font-family: 'Helvetica Neue', serif;
  font-size: 20px;
  background: $white;
  color: black;
  h1,h2,h3,h4 {
    font-family: 'Cinzel', serif;
  }
  div {
    font-size: 24px;
    a, a:hover, a:visited, a:active {
      text-decoration: none;
      color: black;
      outline: none;
    }
  }
  img.logo {
    width: 50px;
    margin-bottom: 0;
  }
  div.welcome {
    font-family: 'Cinzel', serif;
    min-height: 100vh;
    padding: 45px;
    text-align: center;
    margin-bottom: 60px;
    background-color: $purple;
    color: $white;
    h1 {
      font-size: 85px;
      letter-spacing: 0.5em;
      margin-top: 35vh;
      text-align: center;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      margin-top: 100px;
      max-width: 300px;
      border-radius: 5px;
      filter: grayscale(100%);
    }
    div.links {
      margin-top: 145px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 5px;
      span {
        cursor: pointer;
        display: inline-block;
        margin-bottom: 50px;
      }
      span:hover {
        animation-name: red-shift;
        animation-duration: 8s;
        animation-fill-mode: forwards;
      }
    }
    div.contact {
      margin-top: 45px;
      span {
        i {
          width: 90px;
          font-size: 65px;
          color: $white;
          margin: 10px;
        }
      }
    }
    i#down {
      position: absolute;
      bottom: 35px;
      left: 0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
      font-size: 65px;
      cursor: pointer;
    }
  }
  div.info_section,div.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    p {
      font-size: 20px;
      line-height: 2em;
    }
    a {
      text-decoration: underline;
    }
    h1 {
      text-align: center;
      letter-spacing: 5px;
      font-size: 65px;
      margin-bottom: 25px;
    }
    h3 {
      padding-left: 18px;
      font-style: italic;
      color: grey;
      margin-top: 10px;
    }
    div.links {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 600px;
      margin-top: 10px;
      margin-bottom: 20px;
      a {
        margin: 10px;
        text-decoration: none;
      }
    }
    div.experience{
      margin-top: 50px;
      h3 {
        font-style: italic;
        color: grey;
        a {
          text-decoration: none;
        }
      }
      p {
        font-size: 20px;
      }
      img#puck-mobile {
        display: none;
      }
      img {
        margin-top: 25px;
        max-width: 500px;
        margin-bottom: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      img.logo {
        margin-top: 25px;
        max-width: 500px;
        width: 250px;
        margin-bottom: 15px;
        box-shadow: none;
      }
      div.example {
        img {
          max-height: 300px;
          position: relative;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        p {
          position: absolute;
          top: 265px;
          span {
            color: white;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
    ul {
      list-style-type: none;
      font-size: 20px;
      ul {
        font-size: 16px;
        list-style-type: circle;
      }
    }
  }
  div.footer {
    text-align: center;
    font-size: 16px;
  }
}
@media (max-width: 1240px) {
  body {
    div.welcome {
      h1 {
        letter-spacing: 0.25em;
        margin-top: 75px;
        font-size: 75px;
      }
    }
  }
}
@media (max-width: 1024px) {
  body {
      div.info_section,div.container {
        div.experience {
          div.row {
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            div.example {
              img {
                max-height: 200px;
              }
              p {
                top: 185px;
              }
            }
          }
        }
      }
    }
}
@media (max-width: 992px) {
  body {
    div.welcome {
      h1 {
        margin-top: 55px;
        font-size: 50px;
      }
    }
    div.info_section, div.container {
      h1 {
        font-size: 55px;
      }
      div.experience {
        div.row {
          width: 325px;
          align-items: center;
          text-align: center;
          div.example {
            padding: 0;
            p {
              top: 177px;
            }
          }
          img {
            text-align: center;
            max-width: 325px;
          }
          p {
            text-align: center;
            margin-left: 122px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  body {
    div {
    font-size: 16px;
    }
    div.welcome {
      min-height: 50vh;
      h1 {
        font-size: 45px;
        letter-spacing: normal;
      }
      div.contact {
        span {
          i {
            width: 60px;
            font-size: 35px;
          }
        }
      }
      img {
        max-width: 200px;
      }
      h1 {
        font-size: 50px;
      }
      div.links {
        i {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
      i.fa-caret-down {
        margin-top: 100px;
      }
    }
    div.info_section, div.container {
      width: 500px;
      h1 {
        font-size: 26px;
        letter-spacing: normal;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 500px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    div {
      font-size: 12px;
    }
    div.welcome {
      padding: 25px;
      h1 {
        margin-top: 50px;
        font-size: 35px;
      }
      img {
      }
      div.links {
        margin-left: auto;
        margin-right: auto;
        right: auto;
        left: 25px;
        width: 250px;
        margin-top: 250px;
        i {
          font-size: 20px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    div.info_section,div.container {
      max-width: 300px;
      div.experience {
        div.row {
        width: 200px;
          div.example {
            max-width: 250px;
            img.example {
              max-width: 200px;
            }
          }
        }
        img#puck-desktop {
          display: none;
        }
        img#puck-mobile {
          display: block;
          width: 250px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
@media (min-width: 2560px) {
  body {
    div.welcome {
      img {
        max-width: 800px;
      }
      i.fa-caret-down {
        margin-top: 200px;
        margin-bottom: 250px;
      }
    }
    div.info_section {
      div.links {
        margin-bottom: 125px;
      }
    }
  }
}
@media (min-width: 1440px) {
  body {
    div.welcome {
      img {
        max-width: 500px;
      }
      i.fa-caret-down {
        margin-top: 175px;
      }
    }
  }
}
